* {
    font-family: 'Jost';
    font-weight: 400;
    line-height: 1.5;
}

/* header,
section,
footer {
    outline: solid green;
}

li {
    outline: solid yellow;
} */

.container {
    /* outline: solid red; */
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 26px 0 30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 177px;
    height: 50px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.active-page {
    color: #CDA274;
    font-size: 20px;
    letter-spacing: 0.4px;
}

.header-page {
    color: #292F36;
    font-size: 19px;
    line-height: 1.57;
    letter-spacing: 0.4px;
}

.header-page:hover {
    color: #CDA274;
    font-size: 20px;
}

.header-page:focus {
    color: #CDA274;
    font-size: 20px;
}

.hero {
    background: url(../images/hero-bg.png) no-repeat center;
    padding: 188px 0 260px;
}

.hero-title {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 0.22px;
    max-width: 595px;
}

.hero-text {
    color: #4D5053;
    font-size: 22px;
    letter-spacing: 0.22px;
    margin: 19px 0 35px;
    max-width: 577px;
}

.hero-btn {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.72px;
    background-image: url(../images/hero-btn-bg.png);
    padding: 22px 80px 22px 34px;
    border-radius: 18px;
}

.advice {
    padding: 100px 0;
}

.advice-list {
    display: flex;
}

.advice-item {
    padding: 75px 0 70px;
}

.advice-title {
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 25px;
    line-height: 1.56;
    letter-spacing: 0.22px;
}

.advice-descr {
    color: #4D5053;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.22px;
    margin: 17px 0 68px;
}

.advice-item:nth-child(2) .advice-descr {
    margin: 17px 0 35px;
}

.advice-link {
    color: #4D5053;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.36px;
    position: relative;
    margin: 0 auto;
}

.advice-link::after {
    content: '';
    display: block;
    width: 24px;
    height: 17px;
    background-image: url(../images/advice-arrow.png);
    position: absolute;
    top: 5px;
    left: 256px;
}

.designs {
    padding-bottom: 140px;
}

.designs-container {
    display: flex;
}

.designs-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.designs-title {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: 0.22px;
}

.designs-descr {
    color: #4D5053;
    font-size: 22px;
    letter-spacing: 0.22px;
    margin: 42px 0 40px;
    max-width: 531px;
}

.designs-box1 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.designs-block1 {
    border-radius: 100px;
    background-color: #F4F0EC;
    padding: 30px;
    margin-right: 20px;
}

.designs-img {
    width: 34px;
    height: 34px;
}

.designs-box2 {
    display: flex;
    flex-direction: column;
}

.designs-tel {
    color: #4D5053;
    font-size: 24px;
    letter-spacing: 0.22px;
}

.designs-text {
    color: #4D5053;
    font-size: 22px;
    letter-spacing: 0.22px;
}

.designs-btn {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.72px;
    padding: 22px 80px 22px 34px;
    border-radius: 18px;
    width: 263px;
    background-image: url(../images/designs-btn-bg.png);
}

.designs-block2 {
    width: 592px;
    border-radius: 0px 326px 0px 123px;
    overflow: hidden;
    flex-shrink: 0;
}

.designs-photo {
    width: 592px;
    height: 635px;
}

.reviews-container {
    border-radius: 70px;
    background-color: #F4F0EC;
    padding: 103px 15px 121px;
}

.reviews-title {
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 0.22px;
    max-width: 479px;
    margin: 0 auto;
    margin-bottom: 47px;
}

.reviews-list {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 0 36px;
}

.reviews-item {
    width: 354px;
    border-radius: 30px;
    background-color: #FFF;
    padding: 50px 79px 45px 35px;
}

.reviews-flex {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.reviews-img {
    width: 77px;
    height: 77px;
    margin-right: 20px;
}

.reviews-box {
    display: flex;
    flex-direction: column;
}

.reviews-text {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 25px;
    letter-spacing: 0.22px;
}

.reviews-adress {
    color: #4D5053;
    font-size: 18px;
    letter-spacing: 0.22px;
}

.reviews-descr {
    color: #4D5053;
    font-size: 20px;
    letter-spacing: 0.22px;
}

.sponsors {
    padding: 140px 0 113px;
}

.sponsors-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects {
    padding-bottom: 140px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;
}

.projects-item {
    /* flex-basis: calc((100% - 20px) / 2); */
    width: 590px;
}

.projects-title {
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 47px;
    line-height: 1.32;
    letter-spacing: 0.22px;
}

.projects-descr {
    color: #4D5053;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.22px;
    max-width: 786px;
    margin: 20px auto 71px;
}

.projects-block {
    width: 590px;
    border-radius: 0px 80px 0px 0px;
    overflow: hidden;
}

.projects-img {
    width: 590px;
    height: 661px;
    margin-bottom: 25px;
}

.projects-box {
    display: flex;
    align-items: center;
}

.project-box2 {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.projects-subtitle {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 24px;
    line-height: 1.56;
    letter-spacing: 0.22px;
}

.projects-text {
    color: #4D5053;
    font-size: 22px;
    letter-spacing: 0.22px;
}

.projects-btn {
    border-radius: 100px;
    background: #F4F0EC;
    padding: 27px 30px 27px 31px;
}

.numbers {
    background-color: #F4F0EC;
    padding: 140px 0;
}

.numbers-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.numbers-item {
    padding-bottom: 10px;
    text-align: center;
    border-right: 1px solid #CDA274;
    width: 288px;
}

.numbers-item:last-child {
    border: none;
}

.numbers-title {
    color: #CDA274;
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 85px;
    letter-spacing: 1.7px;
    margin-bottom: 10px;
}

.numbers-text {
    color: #4D5053;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.22px;
}

.blogs {
    padding: 142px 0;
}

.blogs-title {
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 0.22px;
    margin-bottom: 21px;
}

.blogs-text {
    color: #4D5053;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.22px;
    max-width: 589px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.blogs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
}

.blogs-item {
    flex-basis: calc((100% - (20px * 2)) / 3);
    max-width: 345px;
    border-radius: 62px;
    border: 1px solid #E7E7E7;
    padding: 21px 21px 41px;
}

.blogs-img {
    width: 345px;
    height: 296px;
}

.blogs-btn {
    color: #4D5053;
    font-size: 16px;
    letter-spacing: 0.22px;
    border-radius: 8px 8px 8px 0px;
    background-color: #FFF;
    padding: 9px 10px 11px;
}

.blogs-subtitle {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.blogs-box {
    display: flex;
    align-items: center;
    gap: 149px;
}

.blogs-time {
    color: #4D5053;
    font-size: 16px;
    letter-spacing: 0.22px;
}

.blogs-click {
    border-radius: 100px;
    background-color: #F4F0EC;
    padding: 18px 22px 18px 21px;
}

.invite-container {
    border-radius: 70px;
    background-color: #292F36;
    padding: 100px 0 95px;
}

.invite-title {
    color: #FFF;
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 50px;
    letter-spacing: 0.22px;
}

.invite-text {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.22px;
    margin: 9px 0 31px;
}

.invite-btn {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.22px;
    margin: 0 auto;
    background: url(../images/invite-btn-bg.png) center;
    padding: 21px 67px 23px 34px;
    border-radius: 18px;
}

.footer {
    padding: 130px 0 36px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 177px;
    height: 50px;
}

.footer-descr {
    color: #4D5053;
    font-size: 22px;
    letter-spacing: 0.22px;
    margin: 15px 0 29px;
    max-width: 326px;
}

.footer-icons {
    display: flex;
    gap: 40px;
}

.footer-list {
    display: flex;
    gap: 108px;
}


.pages-list,
.explore-list,
.contact-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pages-title,
.explore-title,
.contact-title {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 25px;
    letter-spacing: 0.22px;
    margin-bottom: 21px;
}

.pages-link,
.explore-link,
.contact-adress,
.contact-link {
    color: #4D5053;
    font-size: 22px;
    letter-spacing: 0.22px;
    max-width: 321px;
}

.footer-block {
    padding-top: 35px;
    border-top: 1px solid #E5E5E5;
}

.footer-text {
    display: flex;
    gap: 13px;
    justify-content: center;
}

.footer-span {
    color: #4D5053;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.22px;
}

.footer-author {
    color: #CDA274;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.22px;
}